

#topBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#pdfDiv {
    width: 185mm;
    height: 272mm;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 10mm 10mm;
}
#pdfDiv, #pdfDiv * {
    box-sizing: content-box;
}

#grabGoImg {
    margin-bottom: 5mm;
    width: 60mm;
}

#addressBox {
    height: 25mm;
    width: 40mm;
    margin-left: 80mm;
}

#addressBox p {
    margin-top: 0.2mm;
    margin-bottom: 0.2mm;
    font-size: 10px;
    font-family: Avenir, serif;
}

#packingSlipBox {
    margin-top: 5mm;
    background-color: black;
    color: white;
    width: 180mm;
    font-size: 26px;
    padding: 0.5px 0.5px;
}

#packingSlipBox p {
    margin-left: 4mm;
}

#dateBox {
    font-size: 10px;
}

#productTable {
    border-collapse: collapse;
}

#productTable tr td {
    border: 1px solid lightgrey;
    height: 8mm
}

#productTable tr td b {
    margin-left: 1mm;
}

#productTable tr td span {
    margin-left: 1mm;
}

#productBox {
    width: 85mm;
    font-size: 16px;
}

#skuBox {
    width: 22mm;
    font-size: 16px;
}

#quantityBox {
    width: 20mm;
    font-size: 16px;
}

#individualPriceBox {
    width: 25mm;
    font-size: 16px;
}

#totalPriceBox {
    width: 25mm;
    font-size: 16px;
}

#customerDetailsBox {
    font-size: 14px;
}

.title {
    font-size: 20px;
    font-family: Arial, serif;
}

.addressBox p {
    margin-top: 2mm;
    margin-bottom: 2mm;
}

.addressBox {
    font-size: 15px;
    font-family: Cambria, serif;
    min-width: 50mm;
}

#shippingAddressBox {
    margin-left: auto;
    margin-right: 10mm;
}

#addressBoxBox {
    display: flex;
}

#savePdf-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(45deg, #007bff, #6610f2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#savePdf-button:hover {
    background-image: linear-gradient(45deg, #6610f2, #007bff);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translate(45%, -50%) scale(1.05);
}

#savePdf-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(40%, -50%) scale(0.95);
}
